body ,html{
  background: linear-gradient(180deg, rgb(255, 255, 255), rgb(129, 246, 191 ));
   height: 100%;
   width: 100%;
 }

.mainDiv {
  padding:90px 0;
}

.formDiv {
  display:flex;
  max-width:900px;
  width:90%;
  margin:0 auto;
  box-shadow:1px 1px 5px rgba(0,0,0,0.1);
}

form {
  display:table-cell;
  width:400px;
  background-color:#ffffff;
  padding:40px 60px;
  color:#505e6c;
}

label{
  font-weight: bold;
  border: transparent;
  outline: none;
  width: 100px;
  display: inline-block;
}

a{
  text-decoration: none;
  color: #A6ACAF;
  text-align: center;
}

a:hover{
  color: blue;
}

h2{
  margin-bottom: 0px;
}

#email{
  margin-top: 20px;
}
span{
  margin-top: 0px;
   color: #A6ACAF;
}

#link{
  color: blue;
}

#button{
  margin-left: 50px;
  border: none;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  background-color: #F0407D;
  color: white;
  text-align: center;
  font-weight: bold;
}

#button:hover{
  background-color: #F585AC;
}

input{
  width: 100%; /* makes input field width longer */
  margin-bottom: 25px; /* provides gap between the username and password */
}

input:focus{
  border: 1px solid #39F22D;

}


input[type="email"],input[type="password"]{
  border: none; /* removes border of the box */
  border-bottom: 1px solid #F0407D; /*  white color bottom shade */
  background: transparent;/* removes white box with transparent */
  outline: none;
  height: 25px; /* provides gap between username & enter your username  & password*/
  color: black;/* gives white color to text and blinking curson */
  font-size: 16px;

}

#checkbox{
  margin-top: 0px;
}

